{% extends "base.html" %}

{% block content %}
  <h3>Rooms</h3>
  <ul>
      <li><a href="{% url 'panorama' %}">panorama</li>
      <li><a href="{% url 'hackingroom1' %}">hackingroom1</li>
      <li><a href="{% url 'hackingroom2' %}">hackingroom2</li>
      <li><a href="{% url 'hallway' %}">hallway</li>

      <!--<li><a href="{% url 'panorama' %}">panorama</li>-->
      <!--<li><a href="{% url 'lobby' %}">lobby</li>-->
      <!--<li><a href="{% url 'toilet4man' %}">toilet4man</li>-->
      <!--<li><a href="{% url 'office' %}">office</li>-->
      <!--<li><a href="{% url 'customer_center' %}">customer_center</li>-->
  </ul>
{% endblock %}
