<!DOCTYPE html>
<html>

<head>
  <style>
    .a-exit-vr {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    
    .a-exit-vr-button {}
  </style>
  <script src="https://aframe.io/releases/0.4.0/aframe.min.js"></script>
  <script>
    function initElement() {
      var navVR1 = document.getElementById("navigate1");
      navVR1.onclick = navigate1;
      var navVR2 = document.getElementById("navigate2");
      navVR2.onclick = navigate2;
      var navVR3 = document.getElementById("navigate3");
      navVR3.onclick = navigate3;
      var navVR4 = document.getElementById("navigate4");
      navVR4.onclick = navigate4;
    };

    function navigate1() {
      window.location.href = "{% url 'customer_center' %}";
    }

    function navigate2() {
      window.location.href = "{% url 'office' %}";
    }

    function navigate3() {
      window.location.href = "{% url 'toilet4man' %}";
    }

    function navigate4() {
      window.location.href = "{% url 'hallway' %}";
    }
  </script>
</head>

<body onload="initElement();">
  <a-scene inspector="url: https://aframe.io/releases/0.3.0/aframe-inspector.min.js">
    <a-assets>
      <img id="sphereTexture" color="#fff">
      <img id="skyTexture" src="https://raw.githubusercontent.com/hskang9/WebVR/master/web/static/photos/lobby.jpg" rotation="0 -130 0">
    </a-assets>

    <a-sphere id="navigate1" color="#FFF" width="2" height="2" depth="2" position="-20 0 0" rotation="0 0 45" scale="2 2 2" src="#sphereTexture">
      <a-animation attribute="position" to="-20 2.2 0" direction="alternate" dur="2000" repeat="indefinite"></a-animation>
      <!-- 커서가 오브젝트를 가리킬 때 애니메이션-->
      <a-animation attribute="scale" begin="mouseenter" dur="300" to="2.3 2.3 2.3"></a-animation>
      <a-animation attribute="scale" begin="mouseleave" dur="300" to="2 2 2"></a-animation>
    </a-sphere>

    <a-sphere id="navigate2" color="#FFF" width="2" height="2" depth="2" position="-20 0 -20" rotation="0 0 45" scale="2 2 2"
      src="#sphereTexture">
      <a-animation attribute="position" to="-20 2.2 -20" direction="alternate" dur="2000" repeat="indefinite"></a-animation>
      <!-- 커서가 오브젝트를 가리킬 때 애니메이션-->
      <a-animation attribute="scale" begin="mouseenter" dur="300" to="2.3 2.3 2.3"></a-animation>
      <a-animation attribute="scale" begin="mouseleave" dur="300" to="2 2 2"></a-animation>
      </a-sphere>

      <a-sphere id="navigate3" color="#FFF" width="2" height="2" depth="2" position="0 0 -20" rotation="0 0 45" scale="2 2 2" src="#sphereTexture">
        <a-animation attribute="position" to="0 2.2 -20" direction="alternate" dur="2000" repeat="indefinite"></a-animation>
        <!-- 커서가 오브젝트를 가리킬 때 애니메이션-->
        <a-animation attribute="scale" begin="mouseenter" dur="300" to="2.3 2.3 2.3"></a-animation>
        <a-animation attribute="scale" begin="mouseleave" dur="300" to="2 2 2"></a-animation>
      </a-sphere>


      <a-sphere id="navigate4" color="#FFF" width="2" height="2" depth="2" position="30 0 -10" rotation="0 0 45" scale="2 2 2"
        src="#sphereTexture">
        <a-animation attribute="position" to="30 -2.2 -10" direction="alternate" dur="2000" repeat="indefinite"></a-animation>
        <!-- 커서가 오브젝트를 가리킬 때 애니메이션-->
        <a-animation attribute="scale" begin="mouseenter" dur="300" to="2.3 2.3 2.3"></a-animation>
        <a-animation attribute="scale" begin="mouseleave" dur="300" to="2 2 2"></a-animation>
        </a-sphere>

        <a-sky src="#skyTexture"></a-sky>
        <a-camera>
          <a-cursor></a-cursor>
        </a-camera>
  </a-scene>
  <div class="a-exit-vr" aframe-injected="" style="display: block;">
    <a href="{% url 'house' %}">
      <img src="https://raw.githubusercontent.com/hskang9/WebVR/66d801eba42942ca99d548ffaf4b83650a0575d0/web/static/assets/icons/exit.png" class="a-exit-vr-button">
    </a>
  </div>

</body>


</html>