.bg-login {
    background: url(img/bg-login.png) no-repeat;
    background-size: cover;
    width: 468px;
    height:822px;
}

.gotomain {
    margin-top: 400px;
    margin-left: 118px;
}
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

