{% extends "base.html" %}
{% block content %}
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <LINK REL=StyleSheet HREF="login.css" TYPE="text/css" MEDIA=screen>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login</title>
</head>

<body>
<div class='bg-login'>
    <div>
            <a href="{% url 'map' %}">
            <img class="gotomap" src="img/look-around.png">
            </a>
        </img>
    </div>
</div>
</body>


</html>
{% endblock %}
