<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <LINK REL=StyleSheet HREF="map.css" TYPE="text/css" MEDIA=screen>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Map</title>
</head>

<body>
    <div class='bar'>
        <div>
            <a href="{% url link/to/list %}">
                <img class="back" src="img/back.png">
            </a>
            </img>
        </div>
    </div>

    <div class='bg-map'>
        <div>
            <a href="{% url link/to/list %}">
                <img class="gotolist" src="img/look-list.png">
            </a>
            </img>
        </div>
    </div>
</body>


</html>